<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Afya Regression Testcases">

	<listeners>

		<listener class-name="com.ExtentReportListener.ExtentReportListener"/>
            
	</listeners>
	<test name="Regression">
		<classes>
			<class name="com.niveus.afya.testcase.LoginPageTest" />						
									
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->
            